<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    	<add key="JustEATUrl" value="http://api-interview.just-eat.com/"/>
    	<add key="RestaurantEndPoint" value="restaurants"/>
    	<add key="AuthorizationScheme" value="Basic"/>
    	<add key="AuthorizationParameter" value="VGVjaFRlc3RBUEk6dXNlcjI="/>
    	<add key="Host" value="api-interview.just-eat.com"/>
    	<add key="AcceptTenant" value="uk"/>
    	<add key="AcceptLanguage" value="en-GB"/>
  	</appSettings>
</configuration>
